.zl-btt {
  width: 26px;
  height: 26px;
  position: fixed;
  bottom: 25px;
  right: 25px;
  background: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 26px;
  color: #B3A9A9;
  border: 1px solid #B3A9A9;
  font-size: 15px;
  transition: all 1s
}
