$black: #000;
$column-width: 480px;
$gutter-width: 10px;
$light-grey: #eee;
// $break: $column-width * 2 + $gutter-width * 3;

.app {
  margin: auto;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  text-align: center;

  @media screen and ($column-width * 2) {

  }
}

.section {
  display: inline-block;
  max-width: $column-width;
  margin: $gutter-width;
  text-align: left;
  vertical-align: top;
}

.react-player {
  margin-bottom: 10px;
  background: rgba($black, .1);
}

.faded {
  color: rgba($black, .5);
}

.footer {
  margin: $gutter-width;
}

button {
  margin-right: 5px;
  padding: 6px 12px;
  border: 0;
  border-radius: 3px;
  outline: 0;
  background-color: $light-grey;

  &:focus {  background: darken($light-grey, 5); }
  &:hover {  background: darken($light-grey, 10); }
  &:active { background: darken($light-grey, 15); }
}